@import "../../../../styles/mixins";
@import "../../../../styles/variables";

#search-button {
    svg {
        height: 20px;
        width: 24px;
    }
    @include responsive(sm) {
        display: none;
    }
}